[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/khusika/PrivateIt
[submodule "content"]
	path = content
	url = https://github.com/khusika/docs
[submodule "public"]
	path = public
	url = https://github.com/khusika/khusika.github.io
